@import 'colors.css';
@import 'globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-foreground/20;
    @apply border-border;
  }

  html,
  body {
    @apply bg-background text-foreground;
  }

  body {
    @apply h-full min-h-screen font-sans antialiased;
  }

  button {
    cursor: pointer;

    &[disabled] {
      @apply pointer-events-none cursor-not-allowed opacity-60;
    }
  }

  /* Remove chrome autofill color from inputs */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s !important;
  }
}

@layer components {
  .article-content {
    @apply prose-2xl dark:prose-invert;
  }

  .article-content,
  .prose {
    p a {
      @apply break-words text-blue-500;
    }
  }

  .fancy-scrollbar {
    /* Hide default scrollbar */

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    /* Style the scrollbar track */

    &::-webkit-scrollbar-track {
      background: hsl(var(--background));
    }

    /* Style the scrollbar thumb */

    &::-webkit-scrollbar-thumb {
      background: hsla(var(--foreground) / 10%);
      border-radius: 10px;
    }

    /* Style the thumb on hover */

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

@layer utilities {
  .stack {
    @apply flex flex-wrap items-center gap-2;
  }

  .invisible-scrollbar {
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
  }

  .locked {
    @apply pointer-events-none select-none opacity-50;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
