@import 'tailwindcss';
@import './colors.css';
@import './theme.css';

@plugin './hero.ts';
@plugin '@tailwindcss/typography';

/* Content sources */
@source '../components/**/*.{ts,tsx}';
@source '../features/**/*.{ts,tsx}';
@source '../app/**/*.{ts,tsx}';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

/* Dark mode variant */
@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    border-color: color-mix(in srgb, var(--color-foreground) 20%, transparent);
    border-color: var(--color-border);
  }

  html,
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  body {
    height: 100%;
    min-height: 100vh;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  button {
    cursor: pointer;

    &[disabled] {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  /* Remove chrome autofill color from inputs */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s !important;
  }
}

@layer components {
  .article-content {
    @apply prose-2xl dark:prose-invert;
  }

  .article-content,
  .prose {
    p a {
      overflow-wrap: break-word;
      color: #3b82f6;
    }
  }

  .fancy-scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: hsl(var(--background));
    }

    &::-webkit-scrollbar-thumb {
      background: hsla(var(--foreground) / 10%);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1400px;
}

@layer utilities {
  .stack {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }

  .invisible-scrollbar {
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
  }

  .locked {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
